body {
  margin: 0;
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AppContainer {
  margin:auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.Archive {
  margin: 1rem;
}

.Archive table {
  border: 1px solid grey;
}

.UploadForm {
  margin: 1rem;
}

.UploadForm form{
 display: flex;
}
